<a href="https://colab.research.google.com/github/TDoi-99726/statistical_learning_with_python/blob/master/preprocessed_attribute.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import library

In [ ]:
import pandas as pd
import os

In [ ]:
os.getcwd()

'/content'

In [ ]:
df = pd.read_excel('実験集計表共有用.xlsx', sheet_name = "基本情報")
ori_df = df
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', '調査ID', '性別', '年齢', '職業', '年収(総支給額)',
       'ウマ娘のアカウント作成日(できる限り正確な日付をお答えください。)', 'ウマ娘をプレイしている端末',
       'ウマ娘のアプリにログインする頻度',
       'ウマ娘のアプリにログインする頻度で「5. 最近ログインしていない」を選んだ方に質問です。なぜアプリを開かなくなったのか理由をお聴かせください。(複数選択可)\n＊1~4を選んだ方は8を選択してください。',
       '最後にウマ娘を育成した日（ログインではなく、育成した日）', 'ウマ娘の育成途中段階で、思い通りにいかず育成を諦めたことはありますか？',
       'ログインのモチベーションが上がるイベントはどれですか？(複数選択可)', 'ウマ娘に課金をする理由は何ですか？(複数選択可)',
       'ウマ娘をプレイする理由は何ですか？(複数選択可)', 'ウマ娘でガチャを引く際の決め手は何ですか？(複数選択可)',
       '特定の推しキャラ（カード）のために課金した経験がありますか？', '推しキャラ（カード）が登場したら性能にかかわらずガチャを引きますか？',
       'ガチャを引くためのジュエルが十分にある時どうしますか？最もご自身の行動に近いものを選択してください。',
       '現在プレイしているウマ娘以外のスマートフォンゲームを教えてください。(複数選択可)',
       '「ウマ娘」以外で、有償アイテムを購入したことがありますか。', '名鑑Lv.', 'TEAM RANK', '育成回数',
       '過去最高スコア'],
      dtype='object')

In [ ]:
df3 = ori_df[["調査ID", '性別', '年齢', '職業', '年収(総支給額)']]
df3['性別'] = df3['性別'].replace({'1. 男性': 1, '2. 女性': 0})
df3 = df3.rename(columns={'性別': '男性ダミー'})
df3['年齢'] = df3['年齢'].str[3:5]
df3['年齢'] = df3['年齢'].astype('int')
df3['年齢の2乗'] = pow(df3['年齢'], 2)
df3['年収(カテゴリ）'] = df3['年収(総支給額)'].str[:1]
df3['職業'] = df3['職業'].replace({'アルバイト/パート': '非正規雇用ダミー', '会社員': '正社員ダミー', '学生': '学生ダミー', '専業主婦・主夫': '主婦（主夫）ダミー', '無職' : '無職ダミー', '自営業/個人事業' : '自由業ダミー', '自由業' : '自由業ダミー'})
df3 = pd.get_dummies(df3, columns=['職業'],prefix='', prefix_sep='')
df3.head()
#df3.to_csv('data/preprocessed/df_attribute_dummy.csv')

<ipython-input-6-9034d22386df>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['性別'] = df3['性別'].replace({'1. 男性': 1, '2. 女性': 0})

,調査ID,男性ダミー,年齢,年収(総支給額),年齢の2乗,年収(カテゴリ）,主婦（主夫）ダミー,学生ダミー,正社員ダミー,無職ダミー,自由業ダミー,非正規雇用ダミー
0,麻生 まち.*･ﾟ,0,30,1. 100万以下,900,1,1,0,0,0,0,0
1,bular,1,40,3. 300万~500万,1600,3,0,0,0,0,1,0
2,popo02,0,30,1. 100万以下,900,1,0,0,0,0,1,0
3,yukimonma0111,1,30,3. 300万~500万,900,3,0,0,1,0,0,0
4,ryota3510,1,20,2. 100万?300万,400,2,0,0,1,0,0,0

In [ ]:
df3.head()

,調査ID,男性ダミー,年齢,年収(総支給額),年齢の2乗,年収(カテゴリ）,主婦（主夫）ダミー,学生ダミー,正社員ダミー,無職ダミー,自由業ダミー,非正規雇用ダミー
0,麻生 まち.*･ﾟ,0,30,1. 100万以下,900,1,1,0,0,0,0,0
1,bular,1,40,3. 300万~500万,1600,3,0,0,0,0,1,0
2,popo02,0,30,1. 100万以下,900,1,0,0,0,0,1,0
3,yukimonma0111,1,30,3. 300万~500万,900,3,0,0,1,0,0,0
4,ryota3510,1,20,2. 100万?300万,400,2,0,0,1,0,0,0

# 以下他のコード

In [ ]:
df = df[["調査ID",'年齢', '職業', '年収(総支給額)']]
for col_name in ['年齢', '職業', '年収(総支給額)']:
    print(pd.value_counts(df[col_name]))
#pd.get_dummies(df, columns=['年齢', '職業', '年収(総支給額)'])

2. 20代    36
3. 30代    26
4. 40代    10
1. 10代     3
5. 50代     2
Name: 年齢, dtype: int64
会社員          29
アルバイト/パート    11
自営業/個人事業     10
学生           10
専業主婦・主夫       8
無職            6
自由業           3
Name: 職業, dtype: int64
1. 100万以下        31
2. 100万?300万     17
3. 300万~500万     11
2. 100万〜300万      9
4. 500万~700万      6
5. 700万~1000万     3
Name: 年収(総支給額), dtype: int64

In [ ]:
result_df = pd.get_dummies(df, columns=['年齢', '職業', '年収(総支給額)'])
#result_df.to_csv('data/preprocessed/df_attribute_dummy.csv')

In [ ]:
result_df.head()

,調査ID,年齢_1. 10代,年齢_2. 20代,年齢_3. 30代,年齢_4. 40代,年齢_5. 50代,職業_アルバイト/パート,職業_会社員,職業_学生,職業_専業主婦・主夫,職業_無職,職業_自営業/個人事業,職業_自由業,年収(総支給額)_1. 100万以下,年収(総支給額)_2. 100万?300万,年収(総支給額)_2. 100万〜300万,年収(総支給額)_3. 300万~500万,年収(総支給額)_4. 500万~700万,年収(総支給額)_5. 700万~1000万
0,麻生 まち.*･ﾟ,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,bular,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,popo02,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
3,yukimonma0111,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
4,ryota3510,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0

In [ ]:
display(
set(df['年齢'].to_list()),
set(df['職業'].to_list()),
set(df['年収(総支給額)'].to_list())
)
#result_df.to_csv('data/preprocessed/df_attribute_dummy.csv')

{'1. 10代', '2. 20代', '3. 30代', '4. 40代', '5. 50代'}

{'アルバイト/パート', '会社員', '学生', '専業主婦・主夫', '無職', '自営業/個人事業', '自由業'}

{'1. 100万以下',
 '2. 100万?300万',
 '2. 100万〜300万',
 '3. 300万~500万',
 '4. 500万~700万',
 '5. 700万~1000万'}

In [ ]:
df['年齢'] = df['年齢'].str[:1]
df['職業'] = df['職業'].map({'アルバイト/パート': 1, '会社員': 2, '学生': 3, '専業主婦・主夫': 4, '無職' : 5, '自営業/個人事業' : 6, '自由業' : 7})
df['年収(総支給額)'] = df['年収(総支給額)'].str[:1]

<ipython-input-12-5ac5f6cd0335>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['年齢'] = df['年齢'].str[:1]
<ipython-input-12-5ac5f6cd0335>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['職業'] = df['職業'].map({'アルバイト/パート': 1, '会社員': 2, '学生': 3, '専業主婦・主夫': 4, '無職' : 5, '自営業/個人事業' : 6, '自由業' : 7})
<ipython-input-12-5ac5f6cd0335>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['年収(総支給額)'] = df['年収(総支給額)'].str[:1]

In [ ]:
#df.to_csv('data/preprocessed/df_attribute_dummy_2.csv')